# Add followings under [mysqld]

innodb_buffer_pool_size = 1G
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
log_output = FILE

slow_query_log = 1
long_query_time = 1  # seconds
slow_query_log_file = /var/log/mysql/slow.log
log-queries-not-using-indexes = 1
general_log = 1
general_log_file = /var/log/mysql/query.log
